---
import { Image } from 'astro:assets';
import { ButtonLink } from '~/common/ui';
import * as editorJs from '~/editorjs';
import { type FragmentType, graphql, useFragment } from '~/graphql';
import { portableText } from '~/sanity';

const SponsorCardFragment = graphql(`
  fragment sponsorCard on GlobalTranslationLeader {
    id
    shortCode
    name
    region
    gender
    focus
    biography
    image
    funding {
      remaining(applyPledges: true)
    }
  }
`);

interface Props {
  sponsor: FragmentType<typeof SponsorCardFragment>;
  class?: string;
}

const sponsor = useFragment(SponsorCardFragment, Astro.props.sponsor);
const { name, region, gender, shortCode: gtlId, focus, image: imageUrl, id: slug } = sponsor;
const isSponsored = sponsor.funding.remaining === 0;
---

<article
  data-disabled={isSponsored ? true : undefined}
  class:list={['group relative text-white flex flex-col', Astro.props.class]}
>
  <div
    class:list={[
      'flex flex-col h-full border rounded-2xl p-4 gap-4',
      isSponsored && 'grayscale opacity-40',
    ]}
  >
    <div class="flex gap-4">
      <Image src={imageUrl} alt="" inferSize={true} class="rounded-xl w-1/3 object-cover" />
      <div class="flex-1 flex flex-col gap-4">
        <h3 class="text-2xl font-semibold">{name}</h3>
        <div class="text-sm flex flex-col gap-2">
          <p><strong>Region:</strong> {region}</p>
          <hr class="opacity-50" />
          <div class="flex flex-col sm:flex-row gap-2">
            <p><strong>Gender:</strong> {gender}</p>
            <span class="hidden sm:block opacity-50">|</span>
            <p>{gtlId}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-between gap-4">
      <ButtonLink
        href={`/global-translation-leaders/${slug}`}
        variant={isSponsored ? 'outline' : 'solid'}
        client:load
      >
        View Details
      </ButtonLink>
      {!isSponsored && <p>$1,000 per month needed</p>}
    </div>
    <p class="text-lg font-bold">Focus: {focus}</p>
    <div class="line-clamp-4">
      <p set:html={portableText.toHTML(editorJs.toPortableText(sponsor.biography))} />
    </div>
  </div>
  {
    isSponsored && (
      <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
        <span class="text-3xl font-bold bg-white/10 rounded-2xl px-8 py-4 leading-none">
          Sponsored
        </span>
      </div>
    )
  }
</article>
