---
import img from '@sanity/image-url';
import { sanityClient as sanity } from 'sanity:client';
import { toHTML } from '../../lib/portableTextSerializer';
import type { Campaign } from '../../pages/campaigns/campaignBySlug.groq';
import Hero from '../../components/Hero.astro';
import GiveFormWithTotals from '../GiveFormWithTotals.astro';
import '../../styles/global.css';
import Layout from '../../layouts/Layout.astro';
import Video from '../../components/Video.astro';
import ContentSection from '../../components/ContentSection.astro';
import DonationCard from '../../components/DonationCard.astro';
import { DonationButton } from '../../components/DonationButton.tsx';
import Footer from '../../components/Footer.astro';

interface Props {
  campaignData: Campaign;
}

const { campaignData } = Astro.props;
---

<style>
  html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: 'Gotham Bold';
    src: url('/fonts/Gotham-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  .gotham-bold {
    font-family: 'Gotham Bold', sans-serif;
  }
  .page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 1440px;
    margin: 0 auto;
  }
  /* Left content column */
  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .donation-faq {
    max-width: 1440px;
    margin: 0 auto;
  }
  .faq-bg {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(235, 235, 236) 100%);
  }
  /* Right form column (Sticky) */
  @media (min-width: 768px) {
  .form-desktop {
    position: sticky;
    top: 0%;
    transform: translateY(-20%);
    align-self: start;
  }
  .content {
    padding: 60px;
  }
  /* Hide the inline mobile version */
  .content .form {
    display: none;
  }
  .faq-wrapper {
    max-width: 60%;
  }
    .hero-bg {
    background-image: url('https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/4fa5c4296731328c6124ba85e83e268705dcc8cf-1440x733.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;
    z-index: -1;
  }
  .hero-bg-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;
    z-index: -1;
  }
  .mobile-donation-cta {
    display: none; /* hide mobile CTA on desktop */}
  }
/* mobile */
@media (max-width: 767px) {
  .page {
    display: block;
    gap: 0;
  }
  .content {
    gap: 0;
    padding: 60px 30px;
  }
  .form-desktop {
    display: none; /* hide sticky desktop version */
  }
  .content .form {
    display: block;
    margin: 1.5rem 0;
    position: static;
    transform: none;
    width: 100%;
  }
  .hero-bg {
    background-image: url('https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/4fa5c4296731328c6124ba85e83e268705dcc8cf-1440x733.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;
    z-index: -1;
  }
  .hero-bg-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 0%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;
    z-index: -1;
  }
  .mobile-donation-cta {
    position: sticky;
    bottom: 1rem;
    left: 0;
    width: 90%;
    margin: auto;
    background: white;
    padding: .5rem;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .mobile-donation-cta a {
    width: 100%;
    padding: 1.5rem 2rem;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: bold;
  }
  .footer-wrapper {
    margin-bottom: -140px !important;;
  }
}
</style>
<Layout title={campaignData.heading ? toHTML(campaignData.heading) : 'Campaign Page'}>
  <div class="page">
    <main class="content">
      <div class="hero-bg"></div>
      <div class="hero-bg-overlay"></div>
      <Hero />
      <aside class="form" id="give-form-mobile">
        <GiveFormWithTotals />
      </aside>
      <Video
        src="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/files/9d23b34a8293243e7110172ae332ea014f02f765.mp4"
        poster="https://cdn.sanity.io/media-libraries/ml0ZDygBMJD9/images/6c8fd52213687696807aa5996b0ab64625573af5-1110x625.jpg"
        class="hero-video"
        />
        {campaignData.aboutSections?.map((section) => (
         <ContentSection
                content={toHTML(section.content)}
                htmlContent={true}
                className="content-body"
              />
        ))}
        <h2 class="text-4xl text-center md:text-left gotham font-bold tracking-tight sm:text-5xl py-4">Unlock a Project.<br>Join the Mission.</h2>
        <DonationCard />
        <div class="prose">
          <div set:html={toHTML(campaignData.body)}></div>
        </div>
    </main>
    <aside class="form form-desktop">
      <GiveFormWithTotals />
    </aside>
</div>


    <section class="faq-bg w-full">
         {campaignData.faqs && (
    <section class="donation-faq pb-16 z-100">
      {campaignData.templateType === 'church' && campaignData.faqs[0]?.template === 'faqAccordion' && (
      <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
      <div class="faq-wrapper">
        <div class="px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
          <div>
            <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Frequently asked questions</h2>
            <dl class="mt-16 divide-y divide-gray-900/10">
            {campaignData.faqs.map((faq, index) => (
              <div class="py-6 first:pt-0 last:pb-0">
                <dt>
                  <button type="button" command="--toggle" commandfor={`faq-${index}`} class="flex w-full items-start justify-between text-left text-gray-900">

                      <span class="text-base/7 font-semibold">{faq.question}</span>

                    <span class="ml-6 flex h-7 items-center">
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [[aria-expanded='true']_&]:hidden">
                        <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 [&:not([aria-expanded='true']_*)]:hidden">
                        <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                  </button>
                </dt>
                <el-disclosure id={`faq-${index}`} hidden={index > 0} class="[&:not([hidden])]:contents">
                  <dd class="mt-2 pr-12">
                    <div class="prose mt-2" set:html={toHTML(faq.answer)}></div>
                  </dd>
                </el-disclosure>
              </div>
              ))}
            </dl>
          </div>
        </div>
      </div>
      )}
      {campaignData.templateType === 'church' && campaignData.faqs[0]?.template === 'faqGrid' && (
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl col-span-full">Frequently Asked Questions</h2>
          {campaignData.faqs.map((faq) => (
            <div>
              <h3 class="text-lg font-semibold">{faq.question}</h3>
              <div class="prose mt-2" set:html={toHTML(faq.answer)}></div>
            </div>
          ))}
        </div>
      )}
      {campaignData.templateType === 'church' && campaignData.faqs[0]?.template === 'faqList' && (
        <div>
          <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Frequently Asked Questions</h2>
          <ul class="mt-4 space-y-4">
            {campaignData.faqs.map((faq) => (
              <li>
                <h3 class="text-lg font-semibold">{faq.question}</h3>
                <div class="prose mt-2" set:html={toHTML(faq.answer)}></div>
              </li>
            ))}
          </ul>
        </div>
      )}
    </section>
  )}
    </section>
<section class="footer-wrapper">
  <Footer />
</section>

  <div class="mobile-donation-cta">
  <a href="#give-form-mobile" class="donation-button bg-watermarkGreen text-white shadow-sm hover:bg-emerald-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600 inline-block w-full rounded-sm px-3.5 py-2.5 text-sm font-semibold">
      Ready to Give?
  </a>
</div>
</Layout>

