--- 
import { urlFor } from "../../lib/sanityClient";
import { toHTML } from '@portabletext/to-html';
import PaymentForm from "../PaymentForm.astro";

const { campaignData } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{campaignData.heading}</title>
    <style is:global>
      @import '../../styles/global.css';
    </style>
  </head>
  <body>
    
    <article>
        <section 
        class="bg-cover bg-no-repeat bg-center h-[60vh] md:h-[80vh]" 
        style={{
          backgroundImage: `url(${campaignData.heroImage ? urlFor(campaignData.heroImage) : ''})`
        }} 
        role="img" 
        aria-label={campaignData.heroImageAlt || 'Sustainers background image'}
      >
      <div class="absolute inset-0 bg-black bg-opacity-50 h-[60vh] md:h-[80vh]"></div>
        <div class="px-8 max-w-7xl mx-auto flex flex-col justify-center h-full relative 1-10">
          <div class="p-4 text-left">
            <h1 class="font-bold mb-4 text-[#FFF]">{campaignData.heading}</h1>
            <!-- Render the heroCopy content -->
            <div class="mb-[60px] text-[#FFF]" set:html={toHTML(campaignData.heroCopy)}></div>
            <a class="cta" href={campaignData.ctaLink}>{campaignData.ctaText}</a>
          </div>
        </div>
      </section>
      <div class="px-8 max-w-7xl mx-auto">
      <!-- Render the body content -->
      <div class="text-[#323232] my-8" set:html={toHTML(campaignData.body)}></div>
      
      <div class="mt-8 p-4 border border-slate-300 rounded">
        <h2 class="font-semibold text-[#323232]">Sustainers Template</h2>
        <!-- Placeholder for future Give Form -->
        <div class="mt-4 p-6 bg-white rounded shadow">
          <PaymentForm 
            campaignData={campaignData} 
            formType="sustainers" 
            formTitle="Become a Sustainer" 
            formDescription="Join our community of supporters who make a difference every month."
            formButtonText="Become a Sustainer" />
        </div>
      </div>
    </div>
    </article>
  </body>
</html>

<style>
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
  }
  h1 {
    font-size: 58px;
    line-height: 1.3em;
  }
  h2 {
    font-size: 42px;
  }
  p {
    font-family: 'Gotham', sans-serif;
    color: #54595F;
  }
  .cta {
    background-color: #006268;
    color: #ffffff;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 32px;
    }
  }
</style>